.mdl-layout__content {
  overflow: hidden;
}

#toolbar-title {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
}

.page-content {
  overflow: hidden;
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  overflow-y: scroll;
}

.conversation-list-item {
  width: 100%;
}

.message-avatar-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.message-avatar-text {
  display: inline-flex;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
}

@media (max-width: 839px) and (min-width: 480px) {
  .message-avatar-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }
}

.mdl-list__item-text-body {
  margin-right: 10px;
}

.mdl-list__item--three-line-stretch {
  height: auto;
  min-height: 88px;
}

.mdl-list__item--three-line-stretch .mdl-list__item-primary-content {
  height: auto;
  min-height: 52px;
}

.mdl-list__item--three-line-stretch .mdl-list__item-primary-content .mdl-list__item-text-body {
  height: auto;
  min-height: 52px;
}

#input-bar {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  z-index: 100;
}

#input-box-wrapper {
  position: absolute;
  left: 20px;
  right: 100px;
  top: 5px;
  bottom: 5px;
}

#input-box-wrapper .mdl-textfield {
  width: 100%;
}

#input-box {
  width: 100%;
}

#action-send {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 40px;
  height: 40px;
}

#action-add {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 40px;
  height: 40px;
}
